*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    padding-right: 5em;
    cursor: pointer;
}
.close{
    font-size: 60px;
    position: fixed;
    /* top: 1px; */
    left: 4.5em;

}
.logo-bar{
    display: flex;
    justify-content: space-between;
}
.ul-close{
    background-color: #fff;
    border: 1px solid aliceblue;
    margin-top: 1em;
    background-color: rgb(240, 242, 246);
    
}
ul li{
    padding: 30px;
    cursor: pointer;

}
li:hover{
    color: red;
}
.home{
    margin-top: 3em;
}
.barr{
    display: none;
}
.listItem{
    display: flex;
    list-style: none;
}
@media only screen and (max-width: 600px){
    .barr{
      display: block;  
    }
    .listItem{
        display: none;
    }
    .navContainer{
        margin-top: 10px;
    }
}